# Node / Astro
node_modules/
dist/
.astro/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
.env.*

# PDF gerado (se você for gerar depois)
*.pdf
