---
import fs from "fs";
import path from "path";

const resumePath = path.resolve(
  process.cwd(),
  "src/generated/resume.html"
);

const resume = fs.readFileSync(resumePath, "utf-8");
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Rafael Almeida | Currículo</title>
  </head>

  <body>
    <main>
      <article set:html={resume} />
    </main>
  </body>
</html>
